body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: #ecf0f1;
    background-color: #1a1a1d;
    overflow-x: hidden;
}
/*Hero*/
#hero {
    display: flex;
    text-align:center;
    height adjustment to specifiedetc...........